body{
    margin: 0; /* tirar a margenzinha que fica nos cantinhos da div */
    font-family: 'Inter', sans-serif;
}
h1{
    color: #333333;
}
.banner{
    height: 260px;
    width: 100%;
    background-image: url(../img/background.jpg); /* precisa ter esse ../ por conta das pastas diferentes */
    background-size: cover;    /* evitar que a imagem se repita em monitores maiores que 1360 */
    background-position: center; /* centralizar a imagem quando a janela do google for menor, ou for em um celular (responsivo) etc */
    /* background-position: top center */

    display: flex; /*o display flex desbloqueia as opções abaixo, sem ele não funcionaria.*/
    justify-content: center; /*alinhando no eixo X */
    align-items: center; /*alinhando no eixo Y*/
}
.container{
    width: 1100px;
    margin: 40px auto; /* mesma coisa que magin-left:auto; margin-right auto; margin-top:40px; margin-bottom:40px; (economizou 4 linhas) */
}
.content{
    display: flex; /*pra deixar a form lado a lado dps*/
    column-gap: 50px;/*criando uma margem entre os filhos*/
}
#area-calc{
    width: 50%;
}
table{
    width: 50%;
    text-align: center;
    font-size: 14px;
}
tr{
    background-color: #dddddd;
    height: 30px;
    width: 275px;
}
th{
    background-color: #0A5FAE;
    color: white;
}
tr:hover{
    background-color: #DFF5FF;
}
td{
    width: 50%; /* poderia botar 275px tbm (como mostra o figma) porém trabalhar com % é melhor para a mudança de telas, etc.*/
}
form{
    display: flex;
    flex-wrap: wrap;/*permite multiplas linhas*/
    column-gap: 15px;
}
input{
    width: 240px;
    height: 30px;
    border:solid 1px #CCCCCC;
    padding-left: 5px;
}
button{
    background-color: #0A5FAE;
    color: white;
    border: solid 1px #CCCCCC;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}
#result{
    background-color: #005F09;
    text-align: center;
    padding: 10px 0;
}
#result h3{  /*ta mexendo so no h3 (o texto)*/
    color: white;
    font-size: 24px;
    margin: 0;
}
