body{
    margin: 0; /* tirar a margenzinha que fica nos cantinhos da div */
    font-family: 'Inter', sans-serif;
}
h1{
    color: #333333;
}
.banner{
    height: 260px;
    width: 100%;
    background-image: url(../img/background.jpg); /* precisa ter esse ../ por conta das pastas diferentes */
    background-size: cover;    /* evitar que a imagem se repita em monitores maiores que 1360 */
    background-position: center; /* centralizar a imagem quando a janela do google for menor, ou for em um celular (responsivo) etc */
    /* background-position: top center */

    display: flex; /*o display flex desbloqueia as opções abaixo, sem ele não funcionaria.*/
    justify-content: center; /*alinhando no eixo X */
    align-items: center; /*alinhando no eixo Y*/
}
.container{
    width: 1100px;
    margin: 40px auto; /* mesma coisa que magin-left:auto; margin-right auto; margin-top:40px; margin-bottom:40px; (economizou 4 linhas) */
}
.content{
    display: flex; /*pra deixar a form lado a lado dps*/
}
table{
    width: 50%;
    text-align: center;
    font-size: 14px;
}
tr{
    background-color: #dddddd;
    height: 30px;
    width: 275px;
}
th{
    background-color: #0A5FAE;
    color: white;
}
tr:hover{
    background-color: #DFF5FF;
}
td{
    width: 50%; /* poderia botar 275px tbm (como mostra o figma) porém trabalhar com % é melhor para a mudança de telas, etc.*/
}
form{
    display: flex;
}